/* === MAIN PAGE === */
html {
    background-color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === INITIAL PAGE === */
#initial_page {
    font-size: 45px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contents_initial_page {
    font-size: 30px;
    border: solid;
    border-width: 8px;
    border-color: rgb(255, 255, 255);
    padding: 80px;
    padding-left: 160px;
    padding-right: 160px;
    /* flex-direction: row;
    align-items: center; */
}

/* === Buttons of the Initial Page === */
#buttons {
    display: flex;
    justify-content: center;
    gap: 160px;
}

#buttons button {
    height: 100px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#buttons button i {
    font-size: 80px;
}

.button-column {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.button-label {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

i {
    color: white;
}


/* === OTHERS === */

#yellow-freak {
    position: fixed;
    bottom: 3.5rem;
    right: 3.5rem;
    width: 100px;
    height: auto;
    z-index: 1000;
    cursor: grab;
}
